target/
.project
.classpath
.settings/
/vividseats-client-cxf/vividseats-client-cxf-impl/src/test/resources/vividseats.properties
/vividseats-client-rescu/vividseats-client-rescu-impl/src/test/resources/vividseats.properties
